{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>RAMED</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
	</head>
    <body>
		<div class="container">
			{% if messages %}
			<div class="row">
	            <div id="notifications">
	            {% for message in messages %}
	                <p class="alert alert-dismissible alert-{% if message.tags == 'error'%}danger{% else %}{{ message.tags }}{% endif %}" role="alert">{{ message|linebreaksbr }}<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button></p>
	            {% endfor %}
	            </div>
	        </div>
            {% endif %}
			<div class="row">
				{% block content %}{% endblock %}
			</div>
			{% if not messages %}
			{% if success != None or feedback != None %}
			<div class="row">
			<hr />
			<div class="alert alert-{% if success %}success{% else %}warning{% endif %}">
			<p><strong>{% if success %}SUCCESS{% else %}FAILURE{% endif %}</strong>: {{ feedback }}</p>
			</div>
			</div>
			{% endif %}
			{% endif %}
		</div>
	</body>
	<script src="{% static "js/jquery.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
</html>
