{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>RAMED</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
		<style type="text/css">
			body { padding-top: 60px; }
			img.logo { height: 50px; padding:5px; }
			.setting { font-weight: bold; font-family: monospace; }
			.floating { float: right; }
			.dl-horizontal dt { text-align: left; }
			.help h2 { margin-top: 0; }
		</style>
	</head>
    <body>
	    <nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a href="{% url 'home' %}"><img src="{% static "icons/ramed-logo.png" %}" class="logo" /></a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="{% block title_link %}{% endblock %}">{% block title %}SLDSES{% endblock %}</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>

		<div class="container">
			{% if messages %}
			<div class="row">
	            <div id="notifications">
	            {% for message in messages %}
	                <p class="alert alert-dismissible alert-{% if message.tags == 'error'%}danger{% else %}{{ message.tags }}{% endif %}" role="alert">{{ message|linebreaksbr }}<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button></p>
	            {% endfor %}
	            </div>
	        </div>
            {% endif %}
			<div class="row">
				{% block maincontent %}{% endblock %}
			</div>
		</div>
	</body>
	<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script type="text/javascript">
		$(document).ready(function(e) {
			{% block onJQready %}{% endblock %}
		});
	</script>
</html>
