{% extends "base.html" %}

{% block content %}
<h1>{{ collect.name }}</h1>
<p><strong>{{ collect.verbose_status }}</strong></p>
<hr />
<p><em>Démarré le:</em> {{ collect.started_on }}</p>
{% if collect.has_ended %}
<p><em>Terminée le:</em> {{ collect.ended_on }}</p>
{% endif %}
{% if collect.has_finalized %}
<p><em>Finalisée le:</em> {{ collect.finalized_on }}</p>
{% endif %}
<p><em>Commune:</em> {{ collect.commune }}</p>
<p><em>Suffixe:</em> {{ collect.suffix }}</p>
{% if collect.has_ended %}
<p><em>Nb de soumissions:</em> {{ collect.nb_submissions|default_if_none:"n/a" }}</p>
<p><em>Nb d'indigents:</em> {{ collect.nb_indigents|default_if_none:"n/a" }}</p>
<p><em>Nb de médias:</em> {{ collect.nb_medias|default_if_none:"n/a" }}</p>
<p><em>Poids des médias:</em> {{ collect.medias_size|filesizeformat|default_if_none:"n/a" }}</p>
{% else %}
<p><em>Nb de soumissions ONA:</em> {{ ona_collect.num_of_submissions|default_if_none:"n/a" }}</p>
{% endif %}

<a href="{% url 'collect_data' collect.id %}"><button class="btn btn-default">Voir les cibles</button></a>

<hr />
{% if collect.get_next_step %}
<h2>Prochaine étape</h2>
<form action="{{ collect.get_next_step.url }}" method="POST">
{% csrf_token %}
<input type="submit" class="btn btn-default btn-primary" value="{{ collect.get_next_step.label }}"></button></form>
{% else %}
<h2>Exporter les données</h2>
<p>…</p>
{% endif %}
{% endblock %}
