{% extends "single.html" %}

{% block title %}{{ collect.form_title }}{% endblock %}
{% block title_link %}{% url 'collect' collect.id %}{% endblock %}

{% block content %}
{% if collect.targets.count %}
<table class="table table-striped table-bordered text-center">
<caption>Mini statistiques</caption>
<tr><th>Cibles</th><th>Hommes</th><th>Femmes</th><th>Age médian</th><th>Indigents</th><th>Médias</th></tr>
<tr>
	<td>{{ collect.nb_submissions|default_if_none:"n/a" }}</td>
	<td>{{ collect.get_nb_men }}</td>
	<td>{{ collect.get_nb_women }}</td>
	<td>{% if collect.get_median_age%}{{ collect.get_median_age|floatformat }}a{% else %}n/a{% endif %}</td>
	<td>{{ collect.nb_indigents|default_if_none:"n/a" }}</td>
	<td>{{ collect.nb_medias|default_if_none:"n/a" }}{% if collect.nb_medias %} ({{ collect.medias_size|filesizeformat|default_if_none:"n/a" }}){% endif %}</td>
</tr>

<table class="table table-striped">
<caption>Aperçu des données de l'enquête, par cible</caption>
<tr>
	<th>ID</th>
	<th>Nom</th>
	<th>Age</th>
	<th>Sexe</th>
	<th>Enfants</th>
	<th>Épouses</th>
	<th>Village</th>
	<th>Indigent</th>
	<th>Médias</th>
</tr>
{% endif %}
{% for target in collect.targets.all %}
<tr>
	<th>{{ target.identifier }}</th>
	<td>{{ target.name}}</td>
	<td>{{ target.age }}a</td>
	<td>{{ target.verbose_sex }}</td>
	<td>{{ target.dataset.nb_enfants }}</td>
	<td>{{ target.dataset.nb_epouses|default:"0" }}</td>
	<td>{{ target.village|title }}</td>
	<td>{{ target.is_indigent|yesno:"oui,non,n/c" }}</td>
	<td>{% include "attachments.html" with target=target %}</td>
</tr>
{% empty %}
<p>Aucune soumission.</p>
{% endfor %}
{% if collect.targets.count %}</table>{% endif %}

{% endblock %}
