{% extends "dual.html" %}
{% load static %}

{% block title %}{{ collect.form_title }}{% endblock %}
{% block title_link %}{% url 'collect' collect.id %}{% endblock %}

{% block content %}
<a class="floating" href="{% url 'collect_data' collect.id %}"><button class="btn btn-default"><img style="width: 1.5em;" src="{% static "icons/archive.svg" %}" %}"> Voir les cibles</button></a>

<dl class="dl-horizontal">
<dt>Statut:</dt>
<dd>{{ collect.verbose_status }}</dd>

<dt>Démarré le:</dt>
<dd>{{ collect.started_on }}</dd>

{% if collect.has_ended %}
<dt>Terminée le:</dt>
<dd>{{ collect.ended_on }}</dd>

{% endif %}
{% if collect.has_finalized %}
<dt>Finalisée le:</dt>
<dd>{{ collect.finalized_on }}</dd>

{% endif %}
<dt>Commune</dt>
<dd>{{ collect.commune }}, cercle de {{ collect.cercle }}<br />
	{{ collect.mayor }}</dd>

<dt>Suffixe:</dt>
<dd>{{ collect.suffix }}</dd>

<dt>Nb de soumissions:</dt>
<dd>{{ collect.nb_submissions|default_if_none:"n/a" }}</dd>

<dt>Nb d'indigents:</dt>
<dd>{{ collect.nb_indigents|default_if_none:"n/a" }}</dd>

<dt>Nb de refus:</dt>
<dd>{{ collect.nb_non_indigents|default_if_none:"n/a" }}</dd>

<dt>Nb de médias:</dt>
<dd>{{ collect.nb_medias|default_if_none:"n/a" }}</dd>

<dt>Poids des médias:</dt>
<dd>{{ collect.medias_size|filesizeformat|default_if_none:"n/a" }}</dd>

<dt>Nb soum. <span title="ONA id: {{ collect.ona_form_id }}
ONA pk: {{ collect.ona_form_pk }}">ONA</span>:</dt>
<dd>{{ ona_form.num_of_submissions|default:"n/a" }}</dd>
<dt>Nb soum. scan <span title="ONA id: {{ collect.ona_scan_form_id }}
ONA pk: {{ collect.ona_scan_form_pk }}">ONA</a>:</dt>
<dd>{{ ona_scan_form.num_of_submissions|default:"n/a" }}</dd>

<dt>Transmission ANAM</dt>
<dd>{{ collect.uploaded_on|default:"n/a" }}</dd>
</dl>

{% if advanced_mode %}
<div class="alert alert-danger">
<h4><span class="glyphicon glyphicon-exclamation-sign"></span> Mode avancé</h4>
<p>Attention, les actions suivantes <strong>détruisent vos données</strong>.</p>
<p><button id="downgrade-btn" class="btn btn-sm btn-default btn-danger">Modifier le statut de la collecte</button> pour revenir à un état antérieur.</p>
<p><button id="drop_scan_data-btn" class="btn btn-sm btn-default btn-danger">Vider les données «scan»</button> pour supprimer toutes les soumissions de certificats.</p>
<p><button id="drop_data-btn" class="btn btn-sm btn-default btn-danger">Vider toutes les données</button> pour supprimer toutes les soumissions (enquête et scans)</p>
</ul>
</div>

{% endif %}

<hr />
{% if collect.get_prev_step %}
<h2>Étape précédente</h2>
<button type="button" class="btn btn-default prev-action-trigger"><img style="width: 1.5em;" src="{% static "icons/" %}{{ collect.get_prev_step.icon }}.svg" %}"> {{ collect.get_prev_step.label }}</button>
{% endif %}
{% if collect.get_next_step %}
<h2>Prochaine étape</h2>
<button type="button" class="btn btn-default action-trigger"><img style="width: 1.5em;" src="{% static "icons/" %}{{ collect.get_next_step.icon }}.svg" %}"> {{ collect.get_next_step.label }}</button>
{% endif %}

<div id="action-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      	<p>Opération en cours… Veuillez patienter.</p>
      	<div class="progress">
		  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		    <span class="sr-only">Veuillez patienter</span>
		  </div>
		</div>
		</div>
    </div>
  </div>
</div>

<div id="usb-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title">Export USB des médias</h4>
      </div>
      <div class="modal-body">
      	<p id="feedback" class="alert">Veuillez patienter…</p>
      	<div class="progress">
		  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
		    <span class="sr-only">Veuillez patienter</span>
		  </div>
		</div>
		<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Fermer</button>
		</div>
    </div>
  </div>
</div>


{% if collect.has_ended and collect.nb_submissions %}
<h2>Impression des documents</h2>
<p><button id="open-folder" class="btn btn-default"><span class="glyphicon glyphicon-print"></span> Voir les PDF à imprimer</button></p>
<p class="setting">{{ collect.get_documents_path }}</a></p>

<h2>Export des données</h2>
<p><a href="{% url 'collect_exports' collect.id 'xlsx' %}"><button class="btn btn-default"><span class="glyphicon glyphicon-file"></span> Télécharger l'export Excel</button></a></p>
<h3>Données brutes ANAM</h3>
<p><button id="upload-anam" class="btn btn-default"><span class="glyphicon glyphicon-export"></span> Télétransmission ANAM</button>  <a href="{% url 'collect_exports' collect.id 'json' %}"><button class="btn btn-default"><span class="glyphicon glyphicon-file"></span> Export brut ANAM pour envoi manuel</button></a></p>
{% endif %}

{% if collect.has_finalized %}
<h3>Fichiers médias</h3>
<p><button id="export-usb" {% if not disk %}disabled="disabled"{% endif %} class="btn btn-default"><span class="glyphicon glyphicon-picture"></span> <span class="glyphicon glyphicon-hdd"></span> Copier les médias sur clé <strong><span class="label alert-{% if disk %}info{% else %}danger{% endif %}">{{ disk_name }}</span></strong></button></p>
{% endif %}

{% endblock %}

{% block help %}
{% if collect.started %}
{% include "help_started.html" %}
{% elif collect.ended %}
{% include "help_ended.html" %}
{% elif collect.finalized %}
{% include "help_finalized.html" %}
{% endif %}
{% endblock %}

{% block onJQready %}
$('#open-folder').on('click', function (e) {
	var button = $(this);
	button.attr("disabled", "disabled");
	$.get("{{ FOLDER_OPENER_SERVER }}{{ collect.get_documents_path }}", function () {})
	.always(function () {
		button.removeAttr("disabled");
	});
});

function postWithLoading(url, title, reload, callback) {
	// CSRF Token for django
	var postdata={'csrfmiddlewaretoken': '{{ csrf_token }}'};

	// display loading dialog
	$('#action-modal .modal-title').text(title);
	$('#action-modal').modal({backdrop: "static", "keybord": false, show: true});

	// submit action
	$.post(url, postdata, function (data) {
	}).done(function(data) {
		try { success(data); } catch (e) {}
  	})
  	.fail(function() {
  		try { fail(error); } catch (e) {}
  	})
	.always(function() {
    	// remove modal dialog
		$('#action-modal').modal('hide');

		// callback
		try { callback(); } catch (e) { console.error(e); }

		// refresh page to display new info + message
		if (reload) {
			location.reload();
		}
  	});
}

$('button.action-trigger').on('click', function(e) {
	postWithLoading(
		"{{ collect.get_next_step.url }}",
		"{{ collect.get_next_step.label }}",
		true);
});

$('button.prev-action-trigger').on('click', function(e) {
	postWithLoading(
		"{{ collect.get_prev_step.url }}",
		"{{ collect.get_prev_step.label }}",
		true);
});

$('#downgrade-btn').on('click', function(e) {
	if (confirm("Etes vous sûr de vouloir changer de statut pour: {{ collect.previous_verbose_status }}")) {
		postWithLoading(
			"{% url 'collect_downgrade' collect.id %}",
			"Vers… {{ collect.previous_verbose_status }}",
			false, function () {
				{% if not collect.has_ended %}window.location.replace("{% url 'home' %}");{% else %}location.reload();{% endif %}
			});
	}
});

$('#drop_scan_data-btn').on('click', function(e) {
	if (confirm("Etes vous sûr de vouloir supprimer les données «scan» ?")) {
		postWithLoading(
			"{% url 'collect_drop_scan_data' collect.id %}",
			"Suppression des données «scan»",
			true);
	}
});

$('#drop_data-btn').on('click', function(e) {
	if (confirm("Etes vous sûr de vouloir supprimer les données ?")) {
		postWithLoading(
			"{% url 'collect_drop_data' collect.id %}",
			"Suppression des données",
			true);
	}
});


$('#export-usb').on('click', function () {

	if (!confirm("Êtes vous sûr de vouloir exporter sur la clé ? Elle sera completement effacée !")) {
		return false;
	}

	function updateUI(progress, status, message) {
		// update progress bar
		$('#usb-modal .progress-bar').attr('aria-valuenow', progress);
		$('#usb-modal .progress-bar').css('width', progress + '%');

		// update text message
		var cssName;
		switch (status) {
			case "failed":
				cssName = 'danger';
				break;
			case "success":
				cssName = 'success';
				break;
			default:
			case "in-progress":
				cssName = 'default';
				break;
		}

		// apply style based on feedback
		$('#usb-modal #feedback')
			.removeClass("alert-danger alert-info alert-success alert-warning")
			.addClass("alert-" + cssName)
		$('#usb-modal #feedback').html(message);

		// remove animation on bar
		$('#usb-modal .progress-bar').removeClass("active");

		// hide close button
		$('#usb-modal button').hide();


		if (status == 'in-progress') {
			$('#usb-modal .progress-bar').addClass("active");
		} else {
			$('#usb-modal button').show();
		}
	}

	function resetUI() {
		updateUI(0, 'default', "Veuillez patienter…");
	}

	function failUI(message) {
		updateUI(100, 'failed', message);
	}

	$('#usb-modal').modal({backdrop: "static", "keybord": false, show: true});
	var websocket;

	function doConnect(url) {
		websocket = new WebSocket(url);
		websocket.onopen = function(evt) { onOpen(evt) };
		websocket.onclose = function(evt) { onClose(evt) };
		websocket.onmessage = function(evt) { onMessage(evt) };
		websocket.onerror = function(evt) { onError(evt) };
	}

	function onOpen(evt) {
		writeToScreen("connected\n");
		// send a start request
		sendAction("start", {{ collect.id }});
	}

	function onClose(evt) {
		writeToScreen("disconnected\n");
	}

	function onMessage(evt) {
		try {
			var data = JSON.parse(evt.data);
		} catch(e) {
			console.error("Unable to parse data");
			console.log(evt.data);
			var data = {};
		}
		try {status = data.status; } catch(e) { status = 'failed'; }
		try {progress = data.progress; } catch(e) { progress = 0; }
		try {message = data.message; } catch (e) { message = ""; }
		// console.log("message: " + message);
		// console.log(evt.data);
		// console.log(data);

		writeToScreen("response: " + evt.data + '\n');

		updateUI(progress, status, message);
	}

	function onError(evt) {
		writeToScreen('error: ' + evt.data + '\n');
		if (evt.data == undefined && websocket.readyState == 3) {
			failUI("Impossible de se connecter au socket.");
		} else {
			failUI(evt.data);
		}
		websocket.close();
	}

	function doSend(message) {
		writeToScreen("sent: " + message + '\n'); 
		websocket.send(message);
	}

	function writeToScreen(message) {
		console.log(message);
	}

	function doDisconnect() {
		websocket.close();
	}

	function sendAction(action, collect_id) {
		doSend(JSON.stringify({action: "start", collect_id: collect_id}));
	}

	$('#usb-modal button').on('click', function () {
		resetUI();
	});

	// connect to WS
	doConnect("ws://{{ WS_SERVER }}");
});


$('#upload-anam').on('click', function () {
	postWithLoading(
		"{% url 'collect_upload' collect.id %}",
		"Télétransmission ANAM",
		true);

});

{% endblock %}
