<h2>Avant de commencer…</h2>
<p>Pour commencer une mission d'enquête sociale mobile, vous devez créer une <em>Collecte</em> dans le système et préparer les tablettes qui seront remises aux enquêteurs.</p>
<p>Chaque <em>Collecte</em> est caractérisée par plusieurs éléments :</p>
<ul>
	<li>La <strong>commune</strong> concernée par la mission. Une mission peut s'étaler sur plusieurs villages, mais uniquement au sein d'une même commune.</li>
	<li>Le <strong>préfixe</strong>. Il sert à identifier une collecte parmi les autres. Il est libre mais obligatoire. La période est pratique comme préfixe (exemple : « février 2017 »).</li>
	<li>L'identité du <strong>maire de la commune</strong>. Afin de pouvoir générer les documents (certificats non signés) à la fin de la première étape, il est indispensable de connaitre le nom (et le titre) du maire de la commune.</li>
</ul>
