<h2>Collecte finalisée</h2>
<p>Vous avez finalisée votre collecte «{{ collect.name }}» sur le système. Vous devez maintenant :</p>
<ol>
<li>Envoyer les données exportés aux autres structures</li>
<li>Exporter les médias sur clé USB et les envoyer</li>
<li>Transmettre les données papiers</li>
</ol>

<h3>Envoi des données aux autres structures</h3>
<p>La page de la collecte vous donne accès aux données collectées en format Excel. Ce fichier doit être envoyé, par e-mail à :</p>
<ul>
	<li>La Direction Régionale</li>
	<li>La Direction Nationale</li>
	<li>L'ANAM.</li>
</ul>
<hr />
<p><strong>Également</strong>, les <em>données brutes-ANAM</em> doivent être envoyées à l'ANAM pour insertion dans leur base de données.</p>
<p>Utiliser le bouton <em>Télétransmission ANAM</em> pour effectuer cet envoi automatiquement.</p>
<p>Cette télétransmission peut échouer en raison de problèmes de connexion ; il faudra alors récupérer le fichier et l'envoyer par e-mail à l'ANAM.</p>

<h3>Export et envoi des médias</h3>
<p>Les médias (photographies des pièces) pèsent beaucoup trop lourd pour être envoyées par Internet ({{ collect.medias_size|filesizeformat|default_if_none:"n/a" }} ici). Elles doivent être copiées sur une clé USB.</p>
<p>Insérez la clé USB dans l'ordinateur puis choisissez <em>Export médias vers USB</em>.</p>

<p class="alert alert-warning"><strong>Attention !</strong> La clé sera entièrement effacée lors de ce processus (afin d'éviter tout risque de virus). Utilisez donc les clés prévues à cet effet.</p>
<p>Une fois la copie terminée, retirez la clé et faites-la parvenir à l'ANAM.</p>

<h3>Transmission des copies dures</h3>
<p>Les copies dures suivent la voie traditionnelle.</p>
